# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# OS junk
.DS_Store
Thumbs.db
